<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'width':'150px'}" filter="true">
                <ng-template let-item pTemplate="selectedItem">
                   <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                </ng-template>
                <ng-template let-city pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{city.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
                
        </div>
    </div>
    
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">$</span>
            <input type="text" pInputText placeholder="Price">   
            <span class="ui-inputgroup-addon">.00</span>      
        </div>
    </div>
            
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Website">      
        </div>
    </div>
</div>