<h4>Voucher:</h4>
<p-dropdown  [options]="VOUCHERs" [(ngModel)]="selectedVOUCHER" [style]="{'width':'100px'}" filter="true">
  <ng-template let-item pTemplate="selectedVOUCHER">
     <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
  </ng-template>
  <ng-template let-VOUCHER pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <div style="font-size:14px;float:right;margin-top:4px">{{VOUCHER.label}}</div>
      </div>
  </ng-template>
   </p-dropdown>
