<h4>PO:</h4>
<p-dropdown  [options]="POs" [(ngModel)]="selectedPO" [style]="{'width':'110px'}" filter="true" >
  <ng-template let-item pTemplate="selectedPO">
     <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
  </ng-template>
  <ng-template let-PO pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <div style="font-size:14px;float:right;margin-top:4px">{{PO.label}}</div>
      </div>
  </ng-template>
   </p-dropdown>



