<h4>Invoice:</h4>
<p-dropdown  [options]="INVOICEs" [(ngModel)]="selectedINVOICE" [style]="{'width':'100px'}" filter="true">
  <ng-template let-item pTemplate="selectedINVOICE">
     <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
  </ng-template>
  <ng-template let-INVOICE pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <div style="font-size:14px;float:right;margin-top:4px">{{INVOICE.label}}</div>
      </div>
  </ng-template>
   </p-dropdown>
