<h3>Sample Layout-NCT Master</h3>
<div class="p-grid sample-layout">
   
    <div class="p-col-12 p-md-10  p-col-nogutter">
        <div class="p-col-12 p-col-nogutter">
          <app-mastersearch></app-mastersearch>
        </div>
        <div class="p-col-12">
            <div class="p-grid">
               
              <span class="ui-float-label">
                <input id="float-input" type="text" size="3" pInputText> 
                <label for="float-input">ID</label>
            </span>

            <span class="ui-float-label">
              <input id="float-input" type="text" size="5" pInputText> 
              <label for="float-input">GroupID</label>
          </span> 
                
               
            </div>     
        </div>
    </div>
