
<div class="p-grid">
    <div class="p-col-1 ">
        <div class="box">
            <app-iddropdown></app-iddropdown>
        </div>
    </div>
    <div class="p-col-1">
        <div class="box">
           <app-groupiddropdown></app-groupiddropdown>
        </div>
    </div>
    <div class="p-col-1">
        <div class="box">
        <app-vendordropdown></app-vendordropdown>  
        </div>
    </div>
    <div class="p-col-1">
        <div class="box">
         <app-invoicedropdown></app-invoicedropdown>  
        </div>
    </div>
    <div class="p-col-1">
        <div class="box">
        <app-voucherdropdown></app-voucherdropdown>  
        </div>
    </div>
    <div class="p-col-1">
        <div class="box">
        <app-podropdown></app-podropdown>
    </div>
    </div>
</div>


